<div class="tablesTemplate tablesTemplateBox">
    <mat-card class="stateCard">
        <mat-card-content>
            <span class="stateTitle"
                ><mat-icon>{{ icon }}</mat-icon>
                <h1>{{ 'EMPTY_STATE.STATE_TITLE' | translate }}</h1></span
            >
            <mat-divider class="dividers"></mat-divider>
            <p>{{ text | translate }}</p>
            <button
                *ngIf="showRefreshButton"
                mat-raised-button
                (click)="reloadApp()"
            >
                Refresh
            </button>
        </mat-card-content>
    </mat-card>
</div>
