<mat-toolbar class="mat-elevation-z8">
    <div class="appToolBar">
        <div class="appTitleSet">
            <button
                mat-icon-button
                *ngIf="sidenav.mode === 'over'"
                (click)="sidenav.toggle()"
                style="color: #000; float: right"
            >
                <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
                <mat-icon *ngIf="sidenav.opened">closed</mat-icon>
            </button>
            <span *ngIf="!isMobileDetected">{{
                'APP.TOOL_BAR_TITLE' | translate
            }}</span>
            <span *ngIf="isMobileDetected">{{
                'APP.TOOL_BAR_TITLE_FOR_MOBILES' | translate
            }}</span>
        </div>
        <div class="systemDate">
            {{ fullDateValue }}
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <div class="project">
            <img class="logo" src="./assets/logo.png" />
            <span>{{ 'APP.TITLE' | translate }}</span>
        </div>
        <mat-divider class="dividers"> </mat-divider>
        <button mat-button routerLink="/home" class="menu-button">
            <mat-icon>home</mat-icon>
            <span>{{ 'MENU.HOME' | translate }}</span>
        </button>
        <button mat-button routerLink="/updates" class="menu-button">
            <mat-icon>file_upload</mat-icon>
            <span>{{ 'MENU.UPDATES' | translate }}</span>
        </button>
        <button mat-button routerLink="/sales" class="menu-button">
            <mat-icon>add_to_queue</mat-icon>
            <span>{{ 'MENU.SALES' | translate }}</span>
        </button>
        <button mat-button routerLink="/products" class="menu-button">
            <mat-icon>storage</mat-icon>
            <span>{{ 'MENU.PRODUCTS' | translate }}</span>
        </button>
        <a
            mat-button
            style="text-decoration: none"
            class="menu-button"
            target="_blank"
            href="https://github.com/Johngtka/BakeryManagerApp/releases/latest"
        >
            <mat-icon>new_releases</mat-icon>
            <span>V.{{ version }}</span>
        </a>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            <div class="appContent">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
