.appToolBar {
    width: 100%;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    align-items: center;
    justify-content: space-between;
}

.appTitleSet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appTitleSet,
.systemDate {
    display: flex;
}

mat-sidenav-container {
    height: 100vh;
}

mat-icon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-right: 8px;
}

mat-sidenav {
    color: white;
    width: 250px;
    display: flex;
    padding: 16px;
    background: #ffffff;
    text-align: center;
}

.menu-button {
    width: 100%;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.menu-button mat-icon,
span {
    color: #000;
}

@media screen and (max-width: 600px) {
    mat-sidenav {
        width: auto;
        padding: 0;
    }

    .menu-button {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 400px) {
    mat-sidenav {
        width: auto;
        padding: 0;
    }

    .menu-button {
        justify-content: flex-start;
    }
}

.content {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    /* padding: 2%; */
    /* background-image: url('../assets/background-app.png'); */
    background-size: cover;
    background-color: rgb(44, 44, 44);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.project {
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.project span {
    text-align: left;
}

.logo {
    width: 3rem;
    margin: 5%;
    border-radius: 40%;
}

.dividers {
    margin-top: 10px;
    margin-bottom: 10px;
}

.descriptions {
    resize: none;
}

.appContent {
    width: 100%;
    display: block;
}
