<mat-toolbar class="mat-elevation-z8">
    <div class="appToolBar">
        <div class="appTitleSet">
            <button
                mat-icon-button
                *ngIf="sidenav.mode === 'over'"
                (click)="sidenav.toggle()"
                style="color: #000; float: right"
            >
                <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
                <mat-icon *ngIf="sidenav.opened">closed</mat-icon>
            </button>
            <span *ngIf="!isMobileDetected">{{
                'APP.TOOL_BAR_TITLE' | translate
            }}</span>
            <span *ngIf="isMobileDetected">{{
                'APP.TOOL_BAR_TITLE_FOR_MOBILES' | translate
            }}</span>
        </div>
        <div class="systemDate">
            {{ fullDateValue }}
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <div class="project">
            <img class="logo" src="./assets/logo.png" />
            <span>{{ 'APP.TITLE' | translate }}</span>
        </div>
        <mat-divider class="dividers"> </mat-divider>
        <button
            mat-button
            routerLink="/home"
            class="menu-button"
            [disabled]="showEmployersLoginPage"
            [ngClass]="{
                disabledButton: showEmployersLoginPage
            }"
        >
            <mat-icon>home</mat-icon>
            <span>{{ 'MENU.HOME' | translate }}</span>
        </button>
        <button
            mat-button
            routerLink="/updates"
            class="menu-button"
            [disabled]="showEmployersLoginPage"
            [ngClass]="{
                disabledButton: showEmployersLoginPage
            }"
        >
            <mat-icon>file_upload</mat-icon>
            <span>{{ 'MENU.UPDATES' | translate }}</span>
        </button>
        <button
            mat-button
            routerLink="/sales"
            class="menu-button"
            [disabled]="showEmployersLoginPage"
            [ngClass]="{
                disabledButton: showEmployersLoginPage
            }"
        >
            <mat-icon>add_to_queue</mat-icon>
            <span>{{ 'MENU.SALES' | translate }}</span>
        </button>
        <button
            mat-button
            routerLink="/products"
            class="menu-button"
            [disabled]="showEmployersLoginPage"
            [ngClass]="{
                disabledButton: showEmployersLoginPage
            }"
        >
            <mat-icon>storage</mat-icon>
            <span>{{ 'MENU.PRODUCTS' | translate }}</span>
        </button>
        <a
            mat-button
            style="text-decoration: none"
            class="menu-button"
            target="_blank"
            href="https://github.com/Johngtka/BakeryManagerApp/releases/latest"
            [disabled]="showEmployersLoginPage"
            [ngClass]="{
                disabledButton: showEmployersLoginPage
            }"
        >
            <mat-icon>new_releases</mat-icon>
            <span>V.{{ version }}</span>
        </a>
        <button
            mat-button
            (click)="logOutEmployer()"
            class="menu-button"
            *ngIf="!showEmployersLoginPage"
        >
            <mat-icon>logout</mat-icon>
            <span>{{ 'MENU.LOGOUT' | translate }}</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            <div class="appContent">
                <div class="loginPage" *ngIf="showEmployersLoginPage">
                    <mat-card>
                        <mat-card-title
                            ><h1>
                                {{ 'EMPLOYERS_FORM.FORM_HEADER' | translate }}
                            </h1>
                            <mat-divider class="dividers"> </mat-divider>
                        </mat-card-title>

                        <div class="loginLoading" *ngIf="loadingProcess">
                            <mat-spinner></mat-spinner>
                        </div>

                        <mat-card-content
                            ><form
                                [ngClass]="{
                                    tempDisableLoginForm: loadingProcess
                                }"
                                [formGroup]="employersForm"
                            >
                                <div class="col-wrapper">
                                    <div class="col">
                                        <mat-form-field appearance="fill">
                                            <mat-label>{{
                                                'EMPLOYERS_FORM.FORM_FIELDS.LOGIN'
                                                    | translate
                                            }}</mat-label>
                                            <input
                                                matInput
                                                formControlName="login"
                                                tabindex="1"
                                            />
                                        </mat-form-field>

                                        <mat-form-field appearance="fill">
                                            <mat-label>{{
                                                'EMPLOYERS_FORM.FORM_FIELDS.PASSWORD'
                                                    | translate
                                            }}</mat-label>
                                            <input
                                                type="password"
                                                matInput
                                                tabindex="2"
                                                formControlName="password"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                        </mat-card-content>
                        <mat-card-footer
                            ><button
                                mat-raised-button
                                color="primary"
                                mat-button
                                cdkFocusInitial
                                (click)="logEmployer()"
                                [disabled]="
                                    !hasChange() ||
                                    !employersForm.valid ||
                                    loadingProcess
                                "
                                style="
                                    font-size: xx-large;
                                    padding: 4%;
                                    font-family: 'Lucida Sans',
                                        'Lucida Sans Regular', 'Lucida Grande',
                                        'Lucida Sans Unicode', Geneva, Verdana,
                                        serif;
                                "
                            >
                                {{ 'EMPLOYERS_FORM.FORM_BUTTON' | translate }}
                            </button></mat-card-footer
                        >
                    </mat-card>
                </div>
                <router-outlet *ngIf="!showEmployersLoginPage"></router-outlet>
                <!-- <div
                    *ngIf="!showEmployersLoginPage"
                    class="loader-container mat-elevation-z8"
                >
                    <mat-spinner></mat-spinner>
                </div> -->
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
