mat-sidenav-container {
    height: 100vh;
}

mat-icon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-right: 8px;
}

mat-sidenav {
    width: 200px;
    display: flex;
    background: #ffffff;
    color: white;
    padding: 16px;
    text-align: center;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.menu-button mat-icon,
span {
    color: #000;
}

@media screen and (max-width: 600px) {
    mat-sidenav {
        width: auto;
        padding: 0;
    }
    .menu-button {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 400px) {
    mat-sidenav {
        width: auto;
        padding: 0;
    }
    .menu-button {
        justify-content: flex-start;
    }
}

.content {
    height: 100vh;
    margin: 0;
    /* padding: 2%; */
    background-color: rgb(44, 44, 44);
}

.project {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
}

.project span {
    text-align: left;
}

.logo {
    margin: 5%;
    width: 3rem;
    border-radius: 40%;
}
