<div *ngIf="!showLostConnection" class="mat-elevation-z8 tablesTemplateBox">
    <table
        mat-table
        class="mat-elevation-z8 tablesTemplate"
        [dataSource]="dataSource"
    >
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{ selectedRow: prodID.indexOf(row.id) > -1 }"
            (click)="clickedRow(row)"
        ></tr>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'PRODUCT_TABLE.COLUMNS.NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'PRODUCT_TABLE.COLUMNS.UNIT_PRICE' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.price | price }}
                {{ element.weight | weight }}
            </td>
        </ng-container>

        <ng-container matColumnDef="components">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'PRODUCT_TABLE.COLUMNS.COMPONENTS' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.components }}
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="onPhone">
                {{ 'PRODUCT_TABLE.COLUMNS.DESCRIPTION' | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="onPhone">
                {{ element.description }}
            </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'TABLES.OPTIONS_COLUMN' | translate }}
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                (click)="prodID.push(element.id)"
            >
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    [disabled]="!prodID.includes(element.id)"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu xPosition="after">
                    <button
                        mat-menu-item
                        (mouseenter)="isEditHovered = 'active'"
                        (mouseleave)="isEditHovered = 'inactive'"
                        [@editHovered]="isEditHovered"
                        (click)="openDialog(element)"
                    >
                        <mat-icon>edit</mat-icon>
                        <span>{{
                            'CONTROL_PANEL_TABLES.EDIT' | translate
                        }}</span>
                    </button>
                    <button
                        mat-menu-item
                        (mouseenter)="isDeleteHovered = 'active'"
                        (mouseleave)="isDeleteHovered = 'inactive'"
                        [@deleteHovered]="isDeleteHovered"
                        (click)="deleteProduct(element)"
                    >
                        <mat-icon>delete</mat-icon>
                        <span>{{
                            'CONTROL_PANEL_TABLES.DELETE' | translate
                        }}</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>
    </table>
</div>

<div *ngIf="!showLostConnection">
    <mat-paginator
        *ngIf="!isScreenDetected"
        class="paginator"
        [pageSizeOptions]="[8]"
        aria-label="Select page"
    >
    </mat-paginator>
</div>

<div *ngIf="!showLostConnection">
    <mat-paginator
        *ngIf="isScreenDetected"
        class="paginator"
        [pageSizeOptions]="[5]"
        aria-label="Select page"
    >
    </mat-paginator>
</div>

<div *ngIf="!showLostConnection" class="controlPanel">
    <button
        mat-raised-button
        (click)="openDialog()"
        class="mat-elevation-z8"
        color="primary"
    >
        <mat-icon>add_circle_outline</mat-icon>
        <span>{{ 'CONTROL_PANEL_TABLES.ADD' | translate }}</span>
    </button>
    <button
        mat-stroked-button
        (click)="clearSelect()"
        [disabled]="prodID.length < 1"
        class="mat-elevation-z8"
        color="warn"
    >
        <mat-icon>highlight_off</mat-icon>
        <span>{{ 'CONTROL_PANEL_TABLES.CLEAR' | translate }}</span>
    </button>
</div>

<div class="loader-container mat-elevation-z8" *ngIf="loadingProcess">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="showLostConnection">
    <app-empty-state
        icon="signal_wifi_off"
        text="EMPTY_STATE.MESSAGES.CONNECTION_LOST"
        [showRefreshButton]="true"
    ></app-empty-state>
</div>
