.mat-column-name {
    width: 10%;
    text-align: center;
}
.mat-column-unitPrice {
    width: 10%;
    text-align: center;
}
.mat-column-components {
    width: 30%;
}
.mat-column-description {
    width: 20%;
}
.mat-column-options {
    text-align: center;
    width: 10%;
}
@media screen and (max-width: 700px) {
    .mat-column-name {
        width: 5%;
        text-align: center;
    }
    .mat-column-unitPrice {
        width: 5%;
        text-align: center;
    }
    .mat-column-components {
        font-size: x-small;
    }
    .mat-column-description {
        font-size: x-small;
    }
}
