<div class="mat-elevation-z8 tablesTemplateBox">
    <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 tablesTemplate"
    >
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <ng-container matColumnDef="name">
            <th mat-header *matHeaderCellDef>
                {{ 'PRODUCT_TABLE.COLUMNS.NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.Nazwa }}
            </td>
        </ng-container>
        <ng-container matColumnDef="unitPrice">
            <th mat-header *matHeaderCellDef>
                {{ 'PRODUCT_TABLE.COLUMNS.UNIT_PRICE' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.Cena + ' ' + element.Masa }}
            </td>
        </ng-container>
        <ng-container matColumnDef="components">
            <th mat-header *matHeaderCellDef>
                {{ 'PRODUCT_TABLE.COLUMNS.COMPONENTS' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.Skladniki }}
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header *matHeaderCellDef>
                {{ 'PRODUCT_TABLE.COLUMNS.DESCRIPTION' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.Opis }}
            </td>
        </ng-container>
    </table>
</div>
<div class="loader-container mat-elevation-z8" *ngIf="loadingProcess">
    <mat-spinner></mat-spinner>
</div>
