<form [formGroup]="registerForm">
    <h1 mat-dialog-title>{{ titleText | translate }}</h1>
    <mat-divider class="dividers"></mat-divider>

    <mat-stepper #stepper orientation="vertical">
        <mat-dialog-content class="mat-typography">
            <mat-step>
                <ng-template matStepLabel>{{
                    'PRODUCT_DIALOG.STEPPER.1STEP' | translate
                }}</ng-template>
                <ng-template matStepContent>
                    <div class="col-wrapper">
                        <div class="col">
                            <mat-form-field tabindex="1" appearance="fill"
                                ><mat-label>{{
                                    'PRODUCT_DIALOG.FORM.NAME' | translate
                                }}</mat-label
                                ><input matInput formControlName="name"
                            /></mat-form-field>
                            <mat-form-field tabindex="2" appearance="fill"
                                ><mat-label>{{
                                    'PRODUCT_DIALOG.FORM.PRICE' | translate
                                }}</mat-label
                                ><input matInput formControlName="price"
                            /></mat-form-field>
                            <mat-form-field tabindex="3" appearance="fill"
                                ><mat-label>{{
                                    'PRODUCT_DIALOG.FORM.WEIGHT' | translate
                                }}</mat-label
                                ><input matInput formControlName="weight"
                            /></mat-form-field>
                        </div>
                    </div>
                </ng-template>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>{{
                    'PRODUCT_DIALOG.STEPPER.2STEP' | translate
                }}</ng-template>
                <ng-template matStepContent>
                    <div class="col-wrapper">
                        <div class="col">
                            <mat-form-field appearance="fill"
                                ><mat-label>{{
                                    'PRODUCT_DIALOG.FORM.COMPONENTS' | translate
                                }}</mat-label
                                ><textarea
                                    matInput
                                    formControlName="components"
                                    class="descriptions"
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                ></textarea>
                            </mat-form-field>
                            <mat-form-field appearance="fill"
                                ><mat-label>{{
                                    'PRODUCT_DIALOG.FORM.DESCRIPTION'
                                        | translate
                                }}</mat-label
                                ><textarea
                                    matInput
                                    formControlName="description"
                                    class="descriptions"
                                    cdkTextareaAutosize
                                ></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-template>
            </mat-step>
        </mat-dialog-content>
        <mat-step>
            <ng-template matStepLabel>{{
                'PRODUCT_DIALOG.STEPPER.3STEP' | translate
            }}</ng-template>
            <ng-template matStepContent>
                <mat-dialog-actions align="end">
                    <button mat-button mat-raised-button mat-dialog-close>
                        {{ 'DIALOG_ACTIONS.CLOSE' | translate }}
                    </button>
                    <button
                        mat-button
                        mat-raised-button
                        color="primary"
                        cdkFocusInitial
                        (click)="addProduct()"
                        [disabled]="!hasChange() || !registerForm.valid"
                    >
                        {{ buttonText | translate }}
                    </button>
                </mat-dialog-actions>
            </ng-template>
        </mat-step>
    </mat-stepper>
</form>
