.mat-column-name {
    text-align: center;
    width: 10%;
}
.mat-column-date {
    text-align: center;
    width: 10%;
}
.mat-column-description {
    text-align: left;
    font-size: x-small;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
}
.mat-column-options {
    text-align: center;
    width: 10%;
}

@media screen and (max-width: 600px) {
    .mat-column-name {
        font-size: x-small;
        padding: 0;
    }
    .mat-column-description {
        padding-left: 0;
        padding-right: 0;
    }
    .mat-column-options {
        padding: 0;
    }
    .buttons {
        box-shadow: none;
    }
}
