.col-wrapper {
    display: flex;
    gap: 0.5rem;
}

.col {
    width: 25vw;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 600px) {
    .col {
        width: 80vw;
    }
}
