/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info-snackbar div {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    background: blue !important;
}

.success-snackbar div {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    background: green !important;
}

.error-snackbar div {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    background: red !important;
}

.info-snackbar button {
    color: white !important;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    background-color: blue;
}

.success-snackbar button {
    color: white !important;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    background-color: green;
}

.error-snackbar button {
    color: white !important;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    background-color: red;
}

.loader-container {
    width: 80%;
    height: 30vh;
    display: flex;
    position: relative;
    overflow: auto;
    min-height: 200px;
    max-height: 400px;
    background: rgba(0, 0, 0, 0.15);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    justify-content: center;
}

.tablesTemplate {
    padding: 3%;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.tablesTemplateBox {
    clear: both;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.controlPanel {
    width: 80%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
}

.controlPanel button {
    margin: 10px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, serif;
}

.paginator {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .tablesTemplateBox {
        width: 100%;
        margin: 0;
        display: flex;
        clear: both;
    }
    .controlPanel {
        width: 100%;
    }

    .tablesTemplate {
        padding: 1%;
    }

    .onPhone {
        display: none;
    }
    .paginator {
        width: 100%;
    }
}

.selectedRow {
    background-color: lightgray !important;
}
.isSelect {
    background-color: lightgray !important;
}

.col-wrapper {
    display: flex;
    gap: 0.5rem;
}

.col {
    width: 50vw;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 900px) {
    .col {
        width: 100vw;
    }
}

td:hover {
    cursor: pointer;
}

.dialogButtons {
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, serif;
}
.disabledButton {
    opacity: 0.5;
}
