<div class="mat-elevation-z8 usersTableBox">
    <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 usersTable"
    >
        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'USERS_TABLE.COLUMNS.NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.imie }}
            </td>
        </ng-container>
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef class="onPhone">
                {{ 'USERS_TABLE.COLUMNS.SURNAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="onPhone">
                {{ element.nazwisko }}
            </td>
        </ng-container>
        <ng-container matColumnDef="nick">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'USERS_TABLE.COLUMNS.NICK' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.logi }}
            </td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef class="onPhone">
                {{ 'USERS_TABLE.COLUMNS.PHONE' | translate }}
            </th>
            <td mat-cell *matCellDef="let element" class="onPhone">
                {{ element.telefon }}
            </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'USERS_TABLE.COLUMNS.EMAIL' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.mail }}
            </td>
        </ng-container>
    </table>
</div>
<div class="filterPanel">
    <button mat-raised-button class="mat-elevation-z8">
        <mat-icon>search</mat-icon>
        <span>{{ 'USERS_TABLE.FILTER_PANEL.SEARCH_BUTTON' | translate }}</span>
    </button>
</div>
<div class="loader-container mat-elevation-z8" *ngIf="loadingProcess">
    <mat-spinner></mat-spinner>
</div>
