.mat-column-name {
    text-align: center;
    width: 5%;
}

.mat-column-surname {
    text-align: center;
    width: 5%;
}

.mat-column-surname {
    text-align: center;
    width: 5%;
}

.mat-column-nick {
    text-align: center;
    width: 5%;
}

.mat-column-phone {
    text-align: center;
    width: 5%;
}

.mat-column-email {
    text-align: center;
    width: 5%;
}
